body{
   font-family: Arial;
    color: #005458;
    background-color: #f0f7f7;
    width: 70%;
    margin: 50px auto;
}

.button{
    background-color: #005458;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}

.button:hover{
    background-color: #93e6b2;
    color: #005458;
}

#file:hover{
    background-color: #005458;
    color: white;
}

.submit{
    padding: 16px 32px;
    margin: 4px 2px;
}

.return{
    padding: 16px 32px;
    margin: 40px 0px;
    max-width: 20%;
}

h1, h2{
    padding-left: 10px;
    margin: 30px 0px;
}

h3,h4{
    opacity: 70%;
    padding-left: 10px;
    margin: 10px;
}

h4{
    font-size: 14px;
}

a, p{
    color: black;
    padding-left: 10px;
    margin: 10px;
    font-size: 16px;
}

a{
    display: inline;
    padding: 0px;
    margin: 0px 5px;
}

span{
    display: flex;
}

.item{
    display: block;
    margin-right: 20px;
}

.listing{
    margin: 20px 0px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #005458;
    padding: 20px;
}

.line{
    display: flex;
    align-content: center;
    padding-left: 10px;
    margin: 10px;
}

.minor_line{
    padding-left: 0px;
}

.bubble-box{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#pppt{
    background: #93e6b2;
}

#pppf{
    background: #e84259;
    color: white;
}

#explore{
    display: none;
}

.check{
    width: 25px;
    height: 25px;
    margin: auto 0px;
}

.check:hover{
    transform: none;
}

.default{
    margin: 0;
    padding: 0;
}

.delete{
    text-decoration: none;
    display: inline;
}

a:hover, img:hover{
    transform: scale(95%);
}

.historyLine{
    display: flex;
    align-content: center;
    margin-bottom: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color: #f0f7f7;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #93e6b2;
    cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slidecontainer{
    margin: 20px 0px;
}