<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <title>Import File</title>
</head>
<body>
    <div class="listing">
        <h1>Retrain Model</h1>
        <a href="{{ url_for('train') }}" class="button retrain">Retrain Model</a>
    </div>
    <div class="listing">
        <h1>Upload your CSV file</h1>
        <form method="POST" action="" enctype="multipart/form-data">
          <p><input type="file" name="file" class="button" id="file"></p>
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
          <p><input type="submit" value="Submit" class="button submit")></p>
        </form>
    </div>

    <div class="listing">
        <h1>Upload History</h1>
            {% for file in filenames %}
                <div class="historyLine">
                    <a href="{{url_for('delete_file', file_name=file)}}"
                       class="delete"
                       onclick="return confirm('Are you sure you want to delete this file?')">
                        <img src={{url_for('static',filename='icons/x-1.png')}}>
                    </a>
                    <a href="{{url_for('mortgageDetails', file_name=file)}}">{{ file }}</a>
                </div>
            {% endfor %}
        </form>
    </div>
</body>
</html>