<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
        <title>Capstone Demo</title>
        <script src="{{ url_for('static', filename='scripts/viewMortgage.js') }}"></script>
    </head>
    <body>
        <a href="{{url_for('index')}}" class="button return">Return to File Upload</a>
        <h1>Mortgage Details</h1>
        <div class="listing">
            <h3>Loan Number: <span id="green">5A18329F7</span></h3>
            <span>
                <div class="item">
                    <h4>Price</h4>
                    <p>{{ data['Price'] }}</p>
                </div>
                <div class="item">
                        <h4>Unpaid Principal Balance</h4>
                        <p>{{data['UPBatAcquisition']}}</p>
                </div>
                <div class="item">
                        <h4>Loan Term</h4>
                        <p>20 years</p>
                </div>
                <div class="item">
                        <h4>Current Interest Rate</h4>
                        <p>{{data['InterestRate']}}</p>
                </div>
                <div class="item">
                    <h4>Brightvine Predicted Value</h4>
                    <p  id="pppt" class="bubble-box">{{data['PPP']}}</p>
                    <img src={{url_for('static',filename='icons/question.png')}} id="question">
                </div>
            </span>
            <span>
                <div class="item">
                        <h4>Appraised Value</h4>
                        <p>{{data['PropertyValue']}}</p>
                </div>
                <div class="item">
                        <h4>Loan-To-Value</h4>
                        <p>{{data['LTVRatio']}}</p>
                </div>
                <div class="item">
                        <h4>Property Type</h4>
                        <p>Single Family Residence (SFR)</p>
                </div>
                <div class="item">
                        <h4>Occupancy Status</h4>
                        <p>Primary Residence</p>
                </div>
            </span>
            <span>
                <div class="item">
                    <p><a id="documents">Documents</a></p>
                </div>
            </span>
        </div>
        <div class="listing" id="explore">
            <h2>Why is this investment <span id="recommend">{{recommendation.lower()}}</span> by Brightvine?</h2>
            <div class="line">
                <img src={{url_for('static',filename='icons/check.png')}} class="check">
                <p class="minor_line">Delinquency: {{ data['delinq'] }}</p>
            </div>
            <div class="line">
                <img src={{url_for('static',filename='icons/check.png')}} class="check">
                <p class="minor_line">Appreciating in Value: {{ data['appr'] }}</p>
            </div>
            <div class="line">
                <img src={{url_for('static',filename='icons/x-mark.png')}} class="check">
                <p class="minor_line">Depreciating in Value: {{ data['depr'] }}</p>
            </div>
        </div>
    </body>
</html>