<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
        <title>Capstone Demo</title>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                let recommendation = document.getElementById("pppt");
                let explore = document.getElementById("explore");
                if(recommendation.textContent == "Not Recommended"){
                    recommendation.id = "pppf"
                }
                recommendation.onclick = function(){
                    explore.style.display="block";
                }
            });
        </script>
    </head>
    <body>
        <a href="{{url_for('index')}}" class="button return">Return to File Upload</a>
        <h1>Mortgage Details</h1>
        <div class="listing">
            <h2>{{data[0]}}</h2>
            <h3>{{data[1]}}</h3>
            <span>
                <div class="item">
                    <h4>Asset Type</h4>
                    <p>{{data[2]}}</p>
                </div>
                <div class="item">
                        <h4>Unpaid Principal Balance</h4>
                        <p>{{data[3]}}</p>
                </div>
                <div class="item">
                        <h4>Loan Term</h4>
                        <p>{{data[4]}}</p>
                </div>
                <div class="item">
                        <h4>Note Rate</h4>
                        <p>{{data[5]}}</p>
                </div>
                <div class="item">
                    <h4>Brightvine Intelligence</h4>
                    <p  id="pppt" class="bubble-box">{{recommendation}}</p>
                </div>
            </span>
            <span>
                <div class="item">
                        <h4>Appraised Value</h4>
                        <p>{{data[7]}}</p>
                </div>
                <div class="item">
                        <h4>Loan-To-Value</h4>
                        <p>{{data[8]}}</p>
                </div>
                <div class="item">
                        <h4>Property Type</h4>
                        <p>{{data[9]}}</p>
                </div>
                <div class="item">
                        <h4>Occupancy Status</h4>
                        <p>{{data[10]}}</p>
                </div>
            </span>
        </div>
        <div class="listing" id="explore">
            <h2>Why is this investment {{recommendation.lower()}} by Brightvine?</h2>
            <div class="line">
                <img src={{url_for('static',filename='icons/check.png')}} class="check">
                <p class="minor_line">Loan-to-value scores in the top 90% of loans nationwide: {{ data[8] }}</p>
            </div>
            <div class="line">
                <img src={{url_for('static',filename='icons/x-mark.png')}} class="check">
                <p class="minor_line">Note rate is extremely high: {{ data[5] }}</p>
            </div>
           <!--- <p><a href="{{url_for('adjustRisk', file_name=file_name)}}" class="button bubble-box">Adjust Risk Tolerance</a></p> -->
        </div>
    </body>
</html>